In [1]:
print('Saya Alifa')

Saya Alifa

In [2]:
print('Nama saya Alifa Fitriana Putri Yuaswan')

Nama saya Alifa Fitriana Putri Yuaswan

In [4]:
print ('Saya lahir di Bandung, Jawa Barat')

Saya lahir di Bandung, Jawa Barat

In [6]:
mahasiswa = 43
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa * uang_di_dompet)

43
100000
4300000

In [9]:
nama_depan = 'Alifa Fitriana'
nama_tengah = 'Putri'
nama_belakang = 'Yuaswan'
print(nama_depan + ' ' + nama_tengah + ' ' + nama_belakang)

Alifa Fitriana Putri Yuaswan

In [11]:
nama_depan + nama_tengah + nama_belakang

'Alifa FitrianaPutriYuaswan'

In [22]:
nama = input('Siapakah nama anda? ')
kegiatan = input('Apa kegiatan anda saat ini, ' + nama + '? ')
print('Semangat '+ kegiatan +'nya ya, '+ nama + '!!')

Siapakah nama anda? Alifa
Apa kegiatan anda saat ini, Alifa? belajar
Semangat belajarnya ya, Alifa!!

In [28]:
uang_di_dompet = input('Berapakah uang di dompet anda? ')
uang_di_bank = input('Berapakah jumlah uang anda di bank saat ini? ')
print('Total uang anda adalah Rp'+ uang_di_dompet + uang_di_bank)

Berapakah uang di dompet anda? 1000
Berapakah jumlah uang anda di bank saat ini? 2000
Total uang anda adalah Rp10002000

In [35]:
uang_di_dompet = input('Berapakah uang di dompet anda? ')
uang_di_bank = input('Berapakah jumlah uang anda di bank saat ini? ')
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print('Total uang anda adalah Rp'+ str(total_uang))

Berapakah uang di dompet anda? 1000
Berapakah jumlah uang anda di bank saat ini? 3000
Total uang anda adalah Rp4000

In [30]:
uang_di_dompet = int(input('Berapakah uang di dompet anda? '))
uang_di_bank = int(input('Berapakah jumlah uang anda di bank saat ini? '))
print('Total uang anda adalah Rp'+ str(uang_di_dompet + uang_di_bank))

Berapakah uang di dompet anda? 1000
Berapakah jumlah uang anda di bank saat ini? 4000
Total uang anda adalah Rp5000

In [33]:
type(uang_di_dompet)

int

In [32]:
type(uang_di_dompet), type(uang_di_bank), type(total_uang)

(int, int, int)

In [27]:
bilangan_kesatu = input('Masukkan bilangan pertama: ')
bilangan_kedua = input('Masukkan bilangan kedua: ')
jumlah = float(bilangan_kesatu) + float(bilangan_kedua)
print('Jumlah dari kedua bilangan adalah '+ str(jumlah))

Masukkan bilangan pertama: 2
Masukkan bilangan kedua: 3.5
Jumlah dari kedua bilangan adalah 5.5

In [38]:
nama = 'Alifa'
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print(nama + ' adalah ' + pekerjaan + ' di ' + institusi + '.')

Alifa adalah mahasiswa di Universitas Udayana.

In [39]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi} .')

Alifa adalah seorang mahasiswa di Universitas Udayana .

In [40]:
kelas = 'ini kelas algoritma'
print(kelas[3:-3])

 kelas algori

In [41]:
print(kelas[3:-3:4])

 ali