In [1]:
##Pertemuan Minggu ketiga

##Materi String Index

kelas = 'ini kelas algoritma'

##String Index dengan 2 angka

print(kelas[3:-3])

##Angka pertama artinya index pertama yang akan dimunculkan
##Angka kedua artinya batas index yang akan dimunculkan, tidak termasuk index tersebut
##Contoh, apabila sampai -3 maka index yang akan dimunculkan hanya sampai index ke -4

 kelas algori

In [2]:
##String Index 3 angka

print(kelas[3:-3:4])

##Angka ketiga artinya loncatan index yang akan dimunculkan

 ali

In [4]:
nama = 'Alifa Fitriana Putri Yuaswan'
print(nama[0:6])

##[0:6] artinya memunculkan index ke 0 sampai ke 5 saja (tidak termasuk index ke 6)

Alifa

In [5]:
##String Index tanpa memanggil index ke berapa yang akan dimunculkan

print(nama[:])

##Karena tidak ada index yang dipanggil, maka yang tampil adalah semua data index di Variabel nama

Alifa Fitriana Putri Yuaswan

In [6]:
##Memunculkan Index ke 3 dengan batas index ke 9 yang memiliki loncatan sebanyak 2 index

print(nama[3:9:2])

f i

In [7]:
##Mengecek jenis tipe data

type(print(nama[0:4]))

##Muncul none type karena tidak ada tipe data yang terdeteksi karena terdapat perintah print

Alif

NoneType

In [8]:
##Melihat/mengecek jenis tipe data

type(nama[0:5])

str

In [9]:
##Saya mencoba mengubah tipe data variabel nama menjadi bertipe data int
##Error dikarenakan tipe data sebelumnya adalah string, sehingga tidak dapat ke int

type(int(nama))

ValueError: invalid literal for int() with base 10: 'Alifa Fitriana Putri Yuaswan'

In [10]:
print(nama[0:27])

Alifa Fitriana Putri Yuaswa

In [11]:
##Menampilkan data menggunakan 2 print dalam baris yang berbeda

print(nama[2:-8:2])
print(nama[0:-12])

iaFtin ur
Alifa Fitriana P

In [12]:
##Menampilkan data menggunakan 2 print dalam 1 baris

print(nama[0:3]), print(nama[2:10])

##Muncul none karena ada 2 print sekaligus dalam 1 baris sehingga terdeteksi sebagai vektor
##Namun, vektornya dalam bentuk string sehingga dia memunculkan none

Ali
ifa Fitr

(None, None)

In [13]:
##Menampilkan data menggunakan 1 print dalam 1 baris, dimana 1 print untuk memunculkan dua data sekaligus

print(nama[1:-3], nama[5:-4])

lifa Fitriana Putri Yuas  Fitriana Putri Yua

In [14]:
##Menampilkan data menggunakan 2 print dalam 2 baris

print(nama[2:20]),
print(nama[-5:-1])

ifa Fitriana Putri
aswa

In [26]:
##Mencoba membuat variabel angka yang bertipe data bukan string
##Error karena sintak tidak valid

angka = 123
print(angka[])

SyntaxError: invalid syntax (3859873677.py, line 5)

In [29]:
##Melihat jenis tipe data dari variabel angka

type(angka)

int

In [30]:
##Mengubah tipe data variabel angka dari int ke string

type(str(angka))

str

In [32]:
nomor = '1 2 3 4 5'
print(nomor[0:-2])

1 2 3 4

In [33]:
type(nomor)

str

In [34]:
##Error karena tipe data string tidak dapat diubah ke int

type(int(nomor))

ValueError: invalid literal for int() with base 10: '1 2 3 4 5'

In [37]:
##Materi String Methods

judul = 'Indonesia is Wonderful'

In [38]:
##Menghitung banyak karakter yang ada dalam variabel judul

print(len(judul))

22

In [39]:
##Mengubah data dalam variabel menjadi hurus besar semua

judul.upper()

'INDONESIA IS WONDERFUL'

In [40]:
##Mengubah data dalam variabel menjadi huruf kecil semua

judul.lower()

'indonesia is wonderful'

In [41]:
##Mengubah data dalam variabel menjadi huruf besar dan huruf kecil dalam 1 baris

judul.upper(), judul.lower()

('INDONESIA IS WONDERFUL', 'indonesia is wonderful')

In [42]:
##Untuk mencari karakter atau kata dalam variabel

judul.find('is')

##10 berarti 'is' berada di index ke 10

10

In [43]:
##Mencari karakter atau kata dalam variabel

judul.find('are')

##-1 berarti kata atau karakter yang dicari tidak ada atau tidak ditemukan

-1

In [44]:
judul.find('Is')

##-1 berarti karakter yang dicari tidak ditemukan
##'Is' bernilai -1 karena dalam variabel yang ada adalah 'is', terdapat perbedaan dalam huruf besar/kecilnya
##ini merupakan case yang sensitif, sehingga besar kecil suatu karakter sangat diperhatikan

-1

In [45]:
##Untuk mengganti karakter atau kata dalam variabel

judul.replace('Indonesia', 'Bali')

'Bali is Wonderful'

In [47]:
judul.replace('indonesia', 'Bali')

##Karakter tidak terganti karena tidak ada 'indonesia' dalam variabel
##Ini merupakan case yang sensitif, sehingga besar kecil suatu karakter sangat diperhatikan

'Indonesia is Wonderful'

In [48]:
##Untuk mencari tahu karakter terdapat dalam data variabel atau tidak
##Jika ada maka output yang muncul adalah True
##Jika tidak ada/salah maka output yang muncul adalah False

print('Indonesia' in judul)

True

In [49]:
print('Bali' in judul)

##Output yang muncul False karena tidak ada karakter 'Bali' dalam data variabel

False

In [52]:
##Mencari menggunakan 2 print di 1 baris

print('is' in judul), print('dan' in judul)

##Muncul none karena terdapat 2 print yang bertipe data string

True
False

(None, None)

In [53]:
##Mencari 2 data menggunakan 1 print di 1 baris

print('dan' in judul, 'is' in judul)

False True

In [54]:
##Mencari 2 data menggunakan 2 print dalam 2 baris

print('is' in judul)
print('dan' in judul)

True
False

In [55]:
##Materi Operasi Matematika di Python

##Operasi penjumlahan
print(1 + 5)

##Operasi Pengurangan
print(1 - 5)

##Operasi Perkalian
print(1 * 5)

##Operasi Pembagian
print(5 / 2)

##Operasi Pembulatan Pembagian
print(5 // 2)

##Operasi Modulo (habis dibagi)
print(5 % 2)

##Operasi Pemangkatan
print(5 ** 2)


##Augmented Operator pada Penjumlahan, x += 3 berarti x = x + 3
##Maka x = 2 + 3, sehingga x = 5
x = 2
x += 3
print(x)

##Augmented Operator pada Pengurangan, x -= 3 berarti x = x - 3
##Sebelumnya didapatkan bahwa x = 5, maka selanjutnya nilai x = 5
##Maka x = 5 - 3, sehingga x = 2
x -= 3
print(x)

##Augmented Operator pada Perkalian, x *= 3 berarti x = x * 3
##Sebelumnya didapatkan bahwa x = 2, maka selanjutnya nilai x = 2
##Maka x = 2 * 3, sehingga x = 6
x *= 3
print(x)

##Apabila nilai x tidak dideklarasikan menggunakan data x yang baru,
##maka yang akan dieksekusi adalah data lama yang sebelumnya telah tersimpan di memori

6
-4
5
2.5
2
1
25
5
2
6

In [56]:
##Berarti x = x + 2, dimana x = 5
##Sehingga x = 5 + 2, x = 7

x = 5
x += 2
print(x)

7

In [57]:
##Berarti x = x - 2, dimana x = 6

x = 6
x -= 2
print(x)

4

In [58]:
x = 2
x -= 3
print(x)

-1

In [59]:
##Materi Operator Perbandingan di Python

##Operator Perbandingan Lebih besar (>)
x = 3 > 2
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 2 < 3
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 3 >= 2
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 2 <= 3
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 3 == 3
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 3 != 4
print(x)

True
True
True
True
True
True

In [60]:
##Membandingkan Output dengan hasil output di atas

####Operator Perbandingan Lebih besar (>)
x = 2 > 3
print(x)

##Operator Perbandingan Lebih Kecil (<)
x = 3 < 2
print(x)

##Operator Perbandingan Lebih besar Sama Dengan (>=)
x = 2 >= 3
print(x)

##Operator Perbandingan Lebih Kecil Sama Dengan (<=)
x = 3 <= 2
print(x)

##Operator Perbandingan Sama Dengan (==)
x = 3 == 4
print(x)

##Operator Perbandingan Tidak Sama Dengan (!=)
x = 3 != 3
print(x)

##Hasil dari perbandingan 2 output adalah, dengan mengubah atau membalik angkanya saja dapat membuat hasil output yang berbeda,
##tergantung operator yang digunakan.

False
False
False
False
False
False

In [61]:
##Materi Operator Logika di Python

mangga = 3
apel = 5

##Operator And
##Operator and akan bernilai True jika keduanya bernilai true, apabila hanya salah satu yang bernilai true, maka output = false
print(mangga > 2 and apel < 10)

True

In [62]:
##Bernilai false karena keduanya memiliki nilai false

print(mangga > 3 and apel < 10)

False

In [63]:
##Bernilai false karena hanya salah satu yang bernilai true dan satu lainnya bernilai false

print(mangga < 3 and apel < 10)

False

In [64]:
##Operator Or
##Operator or akan bernilai True jika salah satu bernilai True, dan akan bernilai False jika keduanya bernilai False

print(mangga < 2 or apel < 10)

True

In [65]:
##Bernilai false karena keduanya bernilai false

print(mangga < 2 or apel > 10)

False

In [66]:
##Operator Not
##Menghasilkan output yang berlawanan/kebalikan dari output aslinya
##Jika output bernilai true, maka nilai dari not nya adalah false

print(not(mangga < 2 or apel > 10))

True

In [1]:
##Operator not
##Dapat menggunakan tanda ~ untuk negasi atau operator not

x = 2 < 3
print(x)

True

In [2]:
##-2 memiliki nilai false atau salah

print(~(x))

-2

In [3]:
x = 10 < 5
print(x)

False

In [4]:
##-1 memiliki nilai true atau benar

print(~(x))

-1

In [5]:
##Materi Operator If di Python

##Penerapan Operator if menggunakan if
nilai = float(input('Nilai anda adalah '))
if nilai >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
if nilai < 80 and nilai >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
if nilai >= 60 and nilai < 70:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
if nilai >= 50 and nilai < 60:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
if nilai < 50:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

Nilai anda adalah 76
Anda mendapatkan nilai B
Tingkatkan lagi ya!

In [8]:
##Materi Operator If di Python

##Penerapan Operator if menggunakan if dan elif(else if)
nilai = float(input('Nilai anda adalah '))
if nilai >= 80:
    print('Anda mendapatkan nilai A')
    print('Bagus sekali, selamat ya!')
elif nilai >= 70:
    print('Anda mendapatkan nilai B')
    print('Tingkatkan lagi ya!')
elif nilai >= 60:
    print('Anda mendapatkan nilai C')
    print('Lain kali harus lebih baik lagi, oke!')
elif nilai >= 50:
    print('Anda mendapatkan nilai D')
    print('Ulangi lagi di tahun depan')
else:
    print('Anda mendapatkan nilai E')
    print('Sampai jumpa tahun depan!')

##Penggunaan operator if bisa menggunakan if saja yang membutuhkan 2 batas (batas awal & batas akhir),
##bisa juga menggunakan if dan elif (else if)

Nilai anda adalah 87
Anda mendapatkan nilai A
Bagus sekali, selamat ya!

In [9]:
##Membuat program dengan operator if yang dapat mengubah tinggi badan seseorang dalam cm menjadi inci, dan sebaliknya.

tinggi = float(input('Berapa tinggi anda saat ini? '))
cm_atau_inci = input('Tingginya dalam cm atau inci? ')

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi * 0.393701
    print('Tinggi badan anda adalah ' + str(tinggi) + ' inci')
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi / 0.393701
    print(f'Tinggi anda adalah {tinggi} cm')

Berapa tinggi anda saat ini? 160
Tingginya dalam cm atau inci? cm
Tinggi badan anda adalah 62.992160000000005 inci