In [1]:
import pandas as pd

In [2]:
#Dataset
Nama = ['Putu', 'Made', 'Komang', 'Ketut', 'Wayan', 'Kadek', 'Nyoman', 'Gede', 'Nengah', 'Luh']
Umur = [15, 20, 25, 30, 35, 40, 45, 50, 55, 60]
data = {'Nama': Nama, 'Umur': Umur}

In [3]:
#Buat dataset ke dalam bentuk dataframe
df = pd.DataFrame(data)
df

     Nama  Umur
0    Putu    15
1    Made    20
2  Komang    25
3   Ketut    30
4   Wayan    35
5   Kadek    40
6  Nyoman    45
7    Gede    50
8  Nengah    55
9     Luh    60

# Split Dataset

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X = df['Nama']
y = df['Umur']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [6]:
X_train

1      Made
6    Nyoman
7      Gede
3     Ketut
2    Komang
0      Putu
9       Luh
Name: Nama, dtype: object

In [7]:
X_test

5     Kadek
8    Nengah
4     Wayan
Name: Nama, dtype: object

In [8]:
y_train

1    20
6    45
7    50
3    30
2    25
0    15
9    60
Name: Umur, dtype: int64

In [9]:
y_test

5    40
8    55
4    35
Name: Umur, dtype: int64

# KFold

In [10]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5)
kf

KFold(n_splits=5, random_state=None, shuffle=False)

In [11]:
for train_index, test_index in kf.split(df):
    print(train_index, test_index)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]